<form [formGroup]="breakDamageForm" class="card" novalidate>
    <legend class="card-header">Break Damage Calculation</legend>
    <div class="list-group list-group-flush">
        <div class="list-group-item">
            <fieldset class="form-group">
                <h5>Modifiers</h5>
                <app-checkbox-button class="form-check form-check-inline">
                    <label class="form-check-label" app-checkbox-button-content ngbButtonLabel>
                        <input class="form-check-input" type="checkbox" [formControl]="breakDamageForm.controls.hasBoost" autocomplete="off" ngbButton />
                        Boost
                    </label>
                </app-checkbox-button>
                <app-checkbox-button class="form-check form-check-inline">
                    <label class="form-check-label" app-checkbox-button-content ngbButtonLabel>
                        <input class="form-check-input" type="checkbox" [formControl]="breakDamageForm.controls.hasTrance" autocomplete="off" ngbButton />
                        Trance
                    </label>
                </app-checkbox-button>
                <app-checkbox-button class="form-check form-check-inline">
                    <label class="form-check-label" app-checkbox-button-content ngbButtonLabel>
                        <input class="form-check-input" type="checkbox" [formControl]="breakDamageForm.controls.hasBDD" autocomplete="off" ngbButton />
                        Break Defense Down
                    </label>
                </app-checkbox-button>
                <app-checkbox-button class="form-check form-check-inline">
                    <label class="form-check-label" app-checkbox-button-content ngbButtonLabel>
                        <input class="form-check-input" type="checkbox" [formControl]="breakDamageForm.controls.hasEnElement" autocomplete="off" ngbButton />
                        EnElement
                    </label>
                </app-checkbox-button>
                <app-checkbox-button class="form-check form-check-inline">
                    <label class="form-check-label" app-checkbox-button-content ngbButtonLabel>
                        <input class="form-check-input" type="checkbox" [formControl]="breakDamageForm.controls.hasWeaken" autocomplete="off" ngbButton />
                        Weaken
                    </label>
                </app-checkbox-button>
            </fieldset>

            <fieldset class="form-group">
                <h5>Auto-Abilities</h5>
                <div class="form-row">
                    <div class="col-md">
                        <label for="inputBaseBreak">Base Break Power</label>
                        <input type="number" class="form-control" id="inputBaseBreak" formControlName="baseBreak" />
                    </div>
                    <div class="col-md">
                        <label for="inputExploitWeakness">Exploit Weakness</label>
                        <input type="number" class="form-control" id="inputExploitWeakness" formControlName="exploitWeakness" />
                    </div>
                    <div class="col-md">
                        <label for="inputPiercingBreak">Piercing Break</label>
                        <input type="number" class="form-control" id="inputPiercingBreak" formControlName="piercingBreak" />
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="list-group-item" [hidden]="!breakDamageForm.valid">
            <h5 class="mt-2">Total Break Power: {{ totalBreakPower }}</h5>
        </div>
        <div class="list-group-item">
            <fieldset class="form-group">
                <h5>Target Statistics</h5>
                <div class="form-row">
                    <div class="col-md">
                        <label for="inputTargetBreakGauge">Target's Break Gauge</label>
                        <input type="number" class="form-control" id="inputTargetBreakGauge" formControlName="targetBreakGauge" />
                    </div>
                    <div class="col-md">
                        <label for="inputNumberOfTaps">Number of Taps</label>
                        <input type="number" class="form-control" id="inputNumberOfTaps" formControlName="numberOfTaps" />
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="list-group-item pt-5 pb-5" [hidden]="hideTargetBreakDamageResult">
            <h5 class="mb-3">Break Damage (100% Reduction)</h5>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: targetBreakDamageRatio | percent }" [attr.aria-valuenow]="targetBreakDamageRatio * 100"></div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-light" 
            (click)="debugInfoCollapsed = !debugInfoCollapsed"
            [attr.aria-expanded]="!debugInfoCollapsed" 
            aria-controls="debug-info">Show Debug Info</button>
        <fieldset id="debug-info" class="form-group debug-info mt-3" [ngbCollapse]="debugInfoCollapsed">
            <h5>Current Form Value:</h5>
            <pre>
                <code>{{ breakDamageForm.value | json }}</code>
            </pre>
            <h5>Current Form Status: {{ breakDamageForm.status | json }}</h5>
        </fieldset>
    </div>
</form>
